n8n-workflows/appointment-workflow.json
{
  "name": "Appointment Management Workflow",
  "description": "Handles appointment notifications, reminders, and status updates",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "appointment",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Appointment Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "notes": "Receives appointment events from the backend"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"type\"]}}",
              "operation": "equals",
              "value2": "NEW_APPOINTMENT"
            }
          ]
        }
      },
      "id": "check-type",
      "name": "Check Event Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@mediassist.com",
        "toEmail": "={{$json[\"appointment\"][\"patientEmail\"]}}",
        "subject": "Appointment Confirmation - MediAssist AI",
        "text": "Dear {{$json[\"appointment\"][\"patientName\"]}},\n\nYour appointment has been scheduled:\n\nDoctor: {{$json[\"appointment\"][\"doctorName\"]}}\nSpecialty: {{$json[\"appointment\"][\"specialty\"]}}\nDate & Time: {{$json[\"appointment\"][\"scheduledAt\"]}}\nReason: {{$json[\"appointment\"][\"reason\"]}}\n\nPlease arrive 10 minutes before your scheduled time.\n\nBest regards,\nMediAssist AI Team"
      },
      "id": "send-confirmation",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [650, 200],
      "notes": "Sends confirmation email to patient"
    },
    {
      "parameters": {
        "phoneNumber": "={{$json[\"appointment\"][\"patientPhone\"]}}",
        "message": "MediAssist AI: Your appointment with {{$json[\"appointment\"][\"doctorName\"]}} is confirmed for {{$json[\"appointment\"][\"scheduledAt\"]}}. Reply CANCEL to cancel."
      },
      "id": "send-sms",
      "name": "Send SMS Notification",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [650, 400],
      "notes": "Sends SMS confirmation (requires Twilio setup)"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Notifications sent\"}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Appointment Webhook": {
      "main": [
        [
          {
            "node": "Check Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Event Type": {
      "main": [
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send SMS Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Confirmation Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS Notification": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["appointments", "notifications"],
  "triggerCount": 0,
  "versionId": "1"
}

